/* Starts here */
 div.content {
	background-color : #DAF7A6;
	color: black;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 40px;
	margin-bottom: 40px;
 }

.link-images {
	width: 10px;
}

body {
	background-color: #DAF7A6;
}

h1 {
	font-size: 1.8em;
}

h2 {
	text-indent: 20px;
}

/* CSS for nav */
/* Stars here */
a {
	color: #0000CD;
}

a:visited {
	color: #0000CD;
}

.main-menu ul {
	list-style: none;
}

.main-menu li {
	display: inline;
}
/* Ends here */

/* CSS for _index.md files */
div.index-format {
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* CSS for img links */
div.sites {
	text-indent: 10px;
	image-width: 20px;
}

/* CSS for single web pages */
div.single-format {
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* CSS for lists */
div.list-format {
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
